.body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #333;
    padding: 10px;
    margin: 0;
}
.navbar a {
    color: white;
    padding: 10px;
    text-decoration: none;
}